#
# Ignore vagrant-related files
#
.vagrant
Vagrantfile.1

# Talos configuration files
controlplane.yaml
talosconfig
worker.yaml

# helper files for configuration script
.configuration_applied_on_first_node
.configuration_applied_to_all_nodes
.first_node_bootstrapped
.user_supplied_virtual_ip

# kubeconfig for the cluster
kubeconfig
